* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

a {
  text-decoration: none;
  color: pink;
  transition: all ease 300ms;
  &:hover {
    color: rgba(255, 192, 203, 0.742);
  }
}

.coin-name {
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
